// about.scss

/* Hero */
.about-content {
  .hero {
    background-color: #040402;
    color: #fff;
    text-align: center;
    padding: 25px;

    h1 {
      font-size: 7rem;
    }

    .hero-text {
      width: 60%;
      margin: auto;

      .link {
        text-decoration: none;
        color: #040402;
      }
    }
  }

  .scroller-container {
    background-color: #FECD3C;
    color: #040402;

    .scroll-button {
      background-color: #040402;
      color: #fff;
    }
  }
}

/* About Section */
.about-section {
  .title {
    text-align: center;
    padding-bottom: 50px;
  }

  h1 {
    margin-top: 0;
  }

  h2 {
    font-weight: 300;
    margin-bottom: 24px;
  }

  button {
    margin-top: 24px;
    background-color: #FECD3C;
    width: 100%;
    padding: 18px 30px;
    font-weight: 300;
    border: none;
    font-size: 1.4rem;
  }

  // Image Row
  .image-row {
    position: relative;
    padding-left: 150px;
  }

  .larger-image {
    position: relative;
  }

  .smaller-image {
    position: absolute;
    width: 33%;
    bottom: 0;
    right: 0;
    transform: translate(-30%, 30%);
  }

  .img-fluid {
    width: 100%;
    height: auto;
  }
}

/* Core Values Section */
.core-values-section {
  padding: 100px 0;
  
  .section {
    padding-top: 75px;
  }

  .title {
    text-align: center;

    h1 {
      width: 70%;
      margin: auto;
    }
  }

  .row {
    display: flex;
    justify-content: center;
    padding: 0 200px;

    .col-lg-5 {
      border: 1px solid rgba(0, 0, 0, 0.3);
      border-radius: 8px;
      margin: 15px;
      padding: 20px;

      i {
        display: flex;
        justify-content: center; /* Horizontally center icon */
        align-items: center; /* Vertically center icon */
        background-color: #FECD3C;
        border-radius: 50%;
        color: #000;
        font-size: 40px;
        width: 100px;
        height: 100px;
        margin-bottom: 15px;
        opacity: 0.8;
      }

      h2 {
        margin: 10px 0;
        font-weight: bold;
      }

      p {
        margin: 0;
        width: 80%;
      }
    }
  }
}


/* Media Queries */
@media only screen and (max-width: 1299px) {
  .core-values-section {
    .row {
      padding: 0 75px;
    }
  }
}

@media only screen and (max-width: 1200px) {
  .about-content {
    .hero {
      .hero-text {
        width: 80%;
      }
    }
  }

  .core-values-section {
    .row {
      padding: 0 100px;
    }
  }

  
}

@media only screen and (max-width: 992px) {
  .about-content {
    .hero {
      .hero-text {
        width: 80%;
        h1 {
          font-size: 6rem;
        }
      }
    }
  }

  .about-section {
    .image-row {
      position: relative;
      padding: 50px;
    }
  }

  .core-values-section {
    .section {
      padding-left: 50px;
      padding-right: 50px;
    }
  }

  
}

@media only screen and (max-width: 768px) {
  .about-content {
    .hero {
      .hero-text {
        width: 100%;
        h1 {
          font-size: 5rem;
        }
      }
    }
  }

  .about-section {
    .title {
      padding-bottom: 24px;
    }

    .image-row {
      position: relative;
      padding: 25px;
    }
  }

  .core-values-section {
    .section {
      padding-left: 50px;
      padding-right: 50px;
    }

    .title {
      h1 {
        width: 100%;
      }
    }

    .row {
      padding: 0;

      .col-lg-5 {
        p {
          width: 100%;
        }
      }
    }
  }

  .scroller-header {
    flex-direction: column;
    align-items: flex-start;
  }

  .scroller-buttons {
    margin-top: 10px;
  }

  .scroll-wrapper {
    padding-left: 20px;
  }

  .scroller-column {
    min-width: 200px;
  }
}

@media only screen and (max-width: 600px) {
  .about-content {
    .hero {
      .hero-text {
        h1 {
          font-size: 4rem;
        }
      }
    }
  }

  .work-ethic {
    .row {
      .col {
        width: 100%;
        flex: 100%;
      }
    }
  }
}
