// component.scss

// Variables
$primary-bg-color: #040402;
$secondary-bg-color: #FECD3C;
$primary-text-color: #ffffff;
$button-bg-color: $secondary-bg-color;
$scrollbar-width: 0;
$accordion-width-large: 60%;
$accordion-width-medium: 80%;
$accordion-width-small: 100%;
$padding-large: 75px;
$padding-small: 20px;
$margin-auto: auto;
$font-primary: "PPTelegraf-Regular";


// Differentiator
.scroller-column {
    transition: transform 0.3s ease-in-out;
    h2{
        font-family: $font-primary;
    }
   
}

.scroll-wrapper {
    scroll-behavior: smooth;
}

.scroller-container {
    background-color: $primary-bg-color;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    position: relative;
    padding-top: $padding-large;
    padding-bottom: $padding-large;
    color: $primary-text-color;
}

.scroller-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0 50px;
    margin-bottom: 50px;
}

.scroller-buttons {
    display: flex;
    gap: 10px;
}

.scroll-wrapper {
    display: flex;
    overflow-x: hidden;
    padding-left: 100px;
    width: 100%;
}

.scroller-row {
    display: flex;
}

.scroller-column {
    max-width: 400px;
    border: none;
    flex: 0 0 auto;
    padding: $padding-small;
    margin-right: 20px;
    text-align: center;
}

.scroll-button {
    background-color: $button-bg-color;
    color: $primary-bg-color;
    border: none;
    padding: 10px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

/** Core Values */
.core-values-section {
    display: flex;
    flex-direction: row;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.title-column {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: $padding-small;
}

.values-column {
    flex: 1.5;
    overflow-y: auto; // Make the values column scrollable
    padding: $padding-small;
    height: 70vh; // Set a fixed height for the values column
}

.values-list {
    display: flex;
    flex-direction: column;
}

.value-item {
    margin-bottom: 20px;
    
    .value-text {
        p {
            width: 80%;
        }
    }
}

/* Hide the scrollbar */
.values-column::-webkit-scrollbar {
    width: $scrollbar-width; // Hide the scrollbar for WebKit browsers
}

.values-column {
    -ms-overflow-style: none; // IE and Edge
    scrollbar-width: none; // Firefox
}

/* Accordion */
/* Questions Asked */
.questions {
    background-color: $secondary-bg-color;
}

.accordion-container {
    position: relative;
    width: $accordion-width-large;
    margin: $margin-auto;
}

.accordion-item {
    position: relative;
    margin-top: 25px;

    h3 button {
        font-size: 1.6rem;
    }
}

.accordion-header {
    font-size: 1.6rem;
}

.accordion-body {
    position: relative;
    font-size: 1.4rem;
    font-weight: 300;
    margin-top: 24px;

    ul {
        padding-left: 0;
        margin: 0;

        li {
            list-style-type: none;
            margin-bottom: 16px;
            color: #000;
        }
    }
}

.accordion-arrow {
    margin-left: auto; // Pushes the arrow to the right
    font-size: 1rem;
    transition: transform 0.2s ease;
}

.accordion-collapse.show .accordion-arrow {
    transform: rotate(180deg); // Rotates the arrow when the accordion is open
}

// Media Queries
@media only screen and (max-width: 1200px) {
    .accordion-container {
        width: $accordion-width-medium;
    }
}

@media only screen and (max-width: 992px) {
    .accordion-container {
        width: $accordion-width-medium;
    }
    
    // Core values 
    .core-values-section {
        .section {
            .row {
                margin: 0;

                .col {
                    flex: 100%;
                    max-width: 100%;
                }
            }
        }
    }
}

@media only screen and (max-width: 768px) {
    .accordion-container {
        width: $accordion-width-small;
    }
}
