// layout.scss

// Variables
$primary-bg-color: #040402;
$secondary-bg-color: #FECD3C;
$primary-text-color: #fff;
$navbar-padding: 50px;
$footer-width: 60%;
$footer-content-padding: 75px;
$footer-col-max-width: 47%;
$copyright-padding: 50px;

// Navigation
.navbar {
    position: relative;
    background-color: $primary-bg-color;
    padding-left: $navbar-padding;
    padding-right: $navbar-padding;

    h1 {
        color: $primary-text-color;
        font-size: 3rem;
    }

    .navbar-toggler {
        color: $primary-text-color;
    }

    .navbar-nav {
        position: relative;
        margin-right: 16px;

        li {
            position: relative;
            padding-right: 16px;
        }

        li:hover {
            border-top: 2px solid $secondary-bg-color;
        }
    }
}

// Footer
.footer {
    background-color: $primary-bg-color;
    color: $primary-text-color;

    /* Contact */
    .contact {
        position: relative;
        width: $footer-width;
        margin: auto;
        text-align: center;
        padding-bottom: $footer-content-padding;
    }

    /* Footer Content */
    .footer-content {
        h2 {
            position: relative;
            margin-bottom: 24px;
        }

        ul {
            padding-left: 0;
            margin: 0;
        }

        ul li {
            position: relative;
            list-style-type: none;
            padding-bottom: 8px;
            color: $primary-text-color;
            text-decoration: none;
        }

        .link {
            text-decoration: none;
            color: $primary-text-color;
        }

        .social {
            text-align: right;

            .social-icon {
                font-size: 50px;
                position: relative;
                margin-right: 8px;
            }
        }

        .row {
            display: flex;
            flex-wrap: wrap;

            .col {
                flex: 1;
                margin: 10px;
            }
        }
    }

    /* Copyright */
    .copyright {
        position: relative;
        padding-left: $copyright-padding;
        padding-right: $copyright-padding;

        .row {
            display: flex;
            flex-wrap: wrap;

            .col {
                flex: 1;

                p {
                    font-size: 1.2rem;
                }
            }
        }
    }
}

/* Media queries */
/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (max-width: 1200px) {
    .footer {
        .contact {
            width: 100%;
        }

        .footer-content {
            .social {
                text-align: left;
            }
        }
    }
}

@media only screen and (max-width: 768px) {
    /* Navbar */
    .navbar {
        padding-left: 10px;
        padding-right: 10px;
        padding-bottom: 25px;

        .logo {
            width: 150px;
        }

        .navbar-nav {
            li:hover {
                border-top: none;
            }
        }
    }

    /* Footer */
    .footer {
        .contact {
            width: 100%;
            padding-bottom: 50px;
        }

        .section {
            position: relative;
            padding-bottom: 0;
        }

        .footer-content {
            .social {
                h2 {
                    text-align: left;
                }
            }

            .row {
                .col {
                    flex: 100%;
                    max-width: $footer-col-max-width;
                }
            }
        }

        .copyright {
            .row {
                .col {
                    flex: 100%;
                    max-width: 100%;
                    text-align: center;
                }
            }
        }
    }
}

@media only screen and (max-width: 600px) {
    .footer {
        .contact {
            width: 100%;
            position: relative;
            padding-bottom: 0;
            text-align: center;
        }

        .footer-content {
            .social {
                h2 {
                    text-align: left;
                }
            }

            .row {
                .col {
                    flex: 100%;
                    max-width: 100%;
                    text-align: center;

                    .social {
                        text-align: center;
                    }
                }
            }
        }
    }
}
