/* contact.scss */

/*Options Contact */

.options {


    width: 50%;
    margin: auto;
    margin-top: 50px;



   
    button {
        width: 100%;
        margin-top: 16px;
        background-color: #1A27C9;
        padding: 18px 30px;
        font-weight: 300;
        border: none;
        font-size: 1.4rem;
        color: #fff;
    }
}
.contact-form{
    .options{
        .row {
            display: flex;
            flex-wrap: wrap;
    
            .col {
                flex: 1;
                margin: 10px;
            }
        }
    }
}


/* Media queries */
@media only screen and (max-width:1400px){
    .contact-form{
        .options{
            width: 80%;
        }
    }

}

@media only screen and (max-width:1200px){
    .options{
        width:70%;
        margin: auto;
    }
    .contact-form{
        .options{
            width: 100%;
        }
    }
}

@media only screen and (max-width:992px){
    .options{
        width:80%;
        margin: auto;
    }
}

@media only screen and (max-width:768px){
    .options{
        width:100%;
    }
    

    .contact-form{
        .options{
            .row {

                .col {
                    flex: 100%;
                    max-width: 100%;
                }
            }

        }
    }
    
    
}